* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 1024px;
}
textarea {
  height: 350px;
  width: 100%;
  resize: none;
}
.text-pasts {
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.area {
  display: flex;
  gap: 10px;
}

.area > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.list-group > div {
  display: flex;
  flex-direction: column;
}
.actions {
  display: flex;
  place-items: center;
  gap: 10px;
}

ul {
  list-style: none;
  padding: 0.5rem;
}
#email {
  width: 100%;
  padding: 0.5rem;
  height: 100%;
  text-transform: lowercase;
}

.label-copy {
  display: flex;
  place-items: center;
  place-content: space-between;
}

#radio {
  white-space: nowrap;
}

.controles-separador {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 800px) {
  .area {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .controles-separador {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    gap: 10px;
  }
}
